TAILSCALE_HOSTNAME=calenso-n8n
N8N_HOST=
N8N_PROTOCOL=https
WEBHOOK_URL=
N8N_EDITOR_BASE_URL=
TAILSCALE_AUTHKEY=your_tailscale_auth_key_here
GOOGLE_ADS_DEVELOPER_TOKEN=your_google_ads_developer_token_here
N8N_ENCRYPTION_KEY=
CALENSO_WEBHOOK_SECRET=your_production_webhook_secret_here
